<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue {{ club['name'] }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue {{ club['name'] }}</h1>
        <h2>Compétitions disponibles :</h2>
        <ul class="competition-list">
            {% for competition in competitions %}
                <li>
                    <a href="{{ url_for('book', competition=competition['name'], club=club['name']) }}">
                        {{ competition['name'] }} ({{ competition['numberOfPlaces'] }} places disponibles)
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="/logout" class="logout-button">Déconnexion</a>
    </div>
</body>
</html>
 